{
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": true,
    "tabWidth": 4,
		"semi": false,
    "printWidth": 100,
    "overrides": [
      {
        "files": "*.ts",
        "options": {
          "parser": "typescript"
        }
      }
    ]
  }
