.report-row-header {
	margin: 0px !important;
	padding: 0px 15px 0px 15px;
}

.ant-card.report-card {
	box-shadow: 0 2px 7px 0px rgb(0 0 0 / 16%);
	border-radius: 7px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;

	.ant-card-body {
		display: flex;
    flex-direction: column;
    justify-content: space-between;
		width: 100%;
	}
}

.report-container {
	width: 100%;
	margin-top: 2em;
}

.report-details {
	.report-details-filters {
		display: flex;
		align-items: center;

		.report-details-filters-title {
			margin-right: 10px;
			font-weight: bold;
		}
		.filter-report-details-users {
			position: relative;
		}
		.filter-report-details-users-unselect {
			position: absolute;
			top: 30%;
    	right: 5%;
		}
	}
	.filter-report-details-users {
		min-width: 12vw;

		.ant-select-selector {
			padding-right: 25px;
		}
	}
}

.report-stat-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	min-height: 120px;
}

.report-stat-grid-header {
	display: flex;
}

.report-stat-loader {
		display: flex;
    align-items: center;
}

.ant-spin-dot {
	color: @antd-primary-color;
}

.report-card-meta .ant-card-meta-detail {
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;

	.report-card-meta-header {
		display: flex;
	}

	.ant-card-meta-title {
		font-weight: 600;
    font-size: 20px;
	}
}

.ant-page-header-content {
	padding-top: 0px;
	margin-top: 12px;
	
	.ant-table-container {
		box-shadow: 0 2px 7px 0px rgb(0 0 0 / 16%);
	}
}

.report-stat-grid {
	background-color: @antd-primary-color;
	color: @antd-text-color-inv;
	font-weight: bold;
	font-size: medium;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 7px;
	padding: 15px 15px 0px 15px;

	.report-stat-container-row {
		align-items: stretch;
	}

	.report-stat-grid-icon {
		padding-right: 5px;
	}

	.report-stat-grid-content {
		font-size: 1.8em;
		display: flex;
    justify-content: flex-end;
	}
}

.report-stat-container-row {
	margin: 0px;
}

.report-error-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 100%;

	.report-error-code {
		text-align: center;
		font-weight: bold;
		padding-top: 3px;
		margin-bottom: 1em;
	}
	.report-error-message {
		font-weight: lighter;
		padding-bottom: 1em;
	}
	.report-error-reload {
		text-align: center;
		position: absolute;
		right: 0px;
	}
}
.report-details-table-sales {

	.ant-table-body {
		padding: 0px !important;
	}
	.report-details-sales-prefix {
		height: 45px;
		line-height: 45px;
		background-color: rgba(0, 0, 0, 0.05);
		margin: 0 auto;
	}

	.report-details-sales-prefix,
	.report-details-sales-header,
	.report-details-sales-content, 
	.report-details-sales-footer {
		padding-left: 8px;
		padding-right: 8px;
	}

	.report-details-sales-header{
		padding-top: 12px;


	}

	.report-details-sales-footer{
		padding-bottom: 12px;
	}


	tbody > tr > td.ant-table-cell {
		padding:0px !important;
	}
}

.reports-z-table,
.report-details-table {
	// thead tr > th.ant-table-row-expand-icon-cell + th:not(.ant-table-row-expand-icon-cell),
	tbody tr > td:first-child {
		text-align: start;
	}
	tbody tr > td {
		text-align: end;
	}
	th:not(:first-child) {
		text-align: end;
	}

	tr.ant-table-expanded-row > td:first-child {
		padding: 0px !important;
	}
}



.report-details-table-nested-products {
	margin-top: 20px;
	tbody tr {
		font-weight: lighter !important;
	}
 	.ant-table.ant-table-middle {
		margin-left: 0px !important;
		width: 100%;
	}
	thead {
		display: none;
	}
	.ant-table-container {
		box-shadow: none;
	}
}
.report-details-table {
	.ant-table-body {
		padding: 12px 0px;
	}
	tbody tr {
		font-weight: bold;
	}
	tbody tr > td.ant-table-row-expand-icon-cell + td:not(.ant-table-row-expand-icon-cell) {
		padding-left: 50px;
	}
	// tbody tr > td.ant-table-row-expand-icon-cell + td:not(.ant-table-row-expand-icon-cell),
	tbody tr > td:not(.ant-table-row-expand-icon-cell):first-child {
		text-align: start !important;
	}

	tbody tr > td:not(.ant-table-row-expand-icon-cell) {
		text-align: end;
	}

	th:not(.ant-table-row-expand-icon-cell):not(:first-child) {
		text-align: end;
	}

	tbody > tr > td {
    border-bottom: 0px solid var(--border-color);
		padding: 2px 8px !important
	}

	.report-details-sales-header,
	.report-details-sales-footer {
		font-weight: bold;
	}
	
	.report-details-sales-content {
		font-weight: lighter; 
		li {
			list-style-type: none;
		}
	}
	
	.report-details-sales-footer {
		margin-top: 1.0em;
	}
}